
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@font-face {
    font-family: Fraunces;
    src: url('../fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf');
}
@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-VariableFont_wght.ttf');
}
body{
    background-color: hsl(30, 38%, 92%);
    margin: 0;
    padding: 0;
    font-family: Fraunces;
    font-size: 14px;
}
flexBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
parentBox{
    display: flex;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    justify-content: center;
    align-items: center;
}
imgBox{
    display: flex;
}
img{
    border-radius: 10px 0 0 10px;
    width: 42vh;
}

rightBox{
    display: flex;
    flex-direction: column;
    margin: 25px;
    width: 32vh;    
}

.topText{
    font-family: Montserrat;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
}

.headName{
    line-height: 24px;
}

.desc{
    color: hsl(228, 12%, 48%);
    font-family: Montserrat;
    font-weight: 500;
    font-size: 12px;
    margin: 0;
    line-height: 1.6;
}

priceBox{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
}
.price{
    color: hsl(158, 36%, 37%);
    margin-right: 10px;
}
.oldPrice{
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    font-size: 12px;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border-radius: 5px;
    padding: 16px;
    border: none;
    gap: 5px;
}
button:hover{
    background-color: hsl(158, 36%, 20%);
    cursor: pointer;
}

@media screen and (max-width: 685px) {
    parentBox{
        flex-direction: column;
    }
    img{
        border-radius: 10px 10px 0 0;
    }
}