@font-face {
    font-family: Outfit;
    src: url('Outfit-VariableFont_wght.ttf');
}
body{
    background-color: hsl(217, 54%, 11%);
    margin: 0;
    padding: 0;
    font-family: Outfit;
    font-size: 18px;
    color: hsl(0, 0%, 100%);
}
flexBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
parentBox{
    background-color: hsl(216, 50%, 16%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 8px;
}
topBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44vh;
    padding: 20px;
}
.image {
    width: 100%;
    border-radius: 10px;
}

.overLay{
    z-index: 10;
    opacity: 0;
    position: absolute;
    padding: 120px;
    border-radius: 10px;
}
.overLay:hover{
    opacity: 100;
    cursor: pointer;
    background-color: hsla(178, 100%, 50%,0.3);
}
bottomBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    padding-top: 0px;
}
.nftName{
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    margin-top: 0;
}
.nftName:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}
.details{
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    width: 44vh;
    margin: 0px;
    padding-bottom: 10px;
}
descBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid hsl(215, 32%, 27%);
    padding-top: 10px;
    padding-bottom: 20px;  
}
.priceDetails{
    display: flex;
    align-items: center;
    color: hsl(178, 100%, 50%);
    font-weight: 600;
    gap: 5px;
    margin: 0;
}
.dateDetails{
    display: flex;
    align-items: center;
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    gap: 5px;
    margin: 0;

}
.creatorBox{
    display: flex;
    align-items: center;
    justify-content:center;
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    gap: 5px;
}
.image2{
    width: 40px;
    height: 40px;
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 50%;
}
.name{
    color: hsl(0, 0%, 100%);
}
.name:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}


